body{
    background: linear-gradient(0deg,#50ffd8,#ff80a2);
    height:100vh;
}
.container{
    margin: 0px auto;
    top: 150px;
    width: 450px;
    perspective: 900px;
    position: relative;
}
/* x=-10 rotate */
#frames{
    width: 44px;
    transform-style: preserve-3d;
    transform:rotateX(-10deg) rotateY(30deg) rotateZ(0deg)
    translate3d(230px,70px,0px);
}
.strip{
    transform-style: preserve-3d;
}
.strip div{
    position: absolute;
    background: url('../img/ej1.jpg');
    border-width: thin 0;
    height: 380px;
    width: 54px;
    opacity: 1;
}
/* 53px la diferencia entre posiciones de bg */
/* ancho original por strip 66px */
.strip div:after{
    content: '';
    position: absolute;
    width: 54px;
    bottom: -40px;
}
.strip .s{
    background-position: 913px;
    transform: rotateY(0deg) translateZ(200px);
}
.strip .s1{
    background-position: 860px;
    transform: rotateY(15deg) translateZ(200px);
}
.strip .s2{
    background-position: 807px;
    transform: rotateY(30deg) translateZ(200px);
}
.strip .s3{
    background-position: 754px;
    transform: rotateY(45deg) translateZ(200px);
}
.strip .s4{
    background-position: 701px;
    transform: rotateY(60deg) translateZ(200px);
}
.strip .s5{
    background-position: 648px;
    transform: rotateY(75deg) translateZ(200px);
}
.strip .s6{
    background-position: 595px;
    transform: rotateY(90deg) translateZ(200px);
}
.strip .s7{
    background-position: 542px;
    transform: rotateY(105deg) translateZ(200px);
}
.strip .s8{
    background-position: 489px;
    transform: rotateY(120deg) translateZ(200px);
}
.strip .s9{
    background-position: 436px;
    transform: rotateY(135deg) translateZ(200px);
}
.strip .s10{
    background-position: 383px;
    transform: rotateY(150deg) translateZ(200px);
}
.strip .s11{
    background-position: 330px;
    transform: rotateY(165deg) translateZ(200px);
}
.strip .s12{
    background-position: 277px;
    transform: rotateY(180deg) translateZ(200px);
}
.strip .s13{
    background-position: 224px;
    transform: rotateY(195deg) translateZ(200px);
}
.strip .s14{
    background-position: 171px;
    transform: rotateY(210deg) translateZ(200px);
}
.strip .s15{
    background-position: 118px;
    transform: rotateY(225deg) translateZ(200px);
}
.strip .s16{
    background-position: 65px;
    transform: rotateY(240deg) translateZ(200px);
}
.strip .s17{
    background-position: 12px;
    transform: rotateY(255deg) translateZ(200px);
}
.strip .s18{
    background-position: -41px;
    transform: rotateY(270deg) translateZ(200px);
}
.strip .s19{
    background-position: -94px;
    transform: rotateY(285deg) translateZ(200px);
}
.strip .s20{
    background-position: -147px;
    transform: rotateY(300deg) translateZ(200px);
}
.strip .s21{
    background-position: -200px;
    transform: rotateY(315deg) translateZ(200px);
}
.strip .s22{
    background-position: -253px;
    transform: rotateY(330deg) translateZ(200px);
}
.strip .s23{
    background-position: -306px;
    transform: rotateY(345deg) translateZ(200px);
}
/*asa*/
.strip .circle{
    background-image: none;
    border-radius: 35%;
    position:absolute;
    top: 45px;
    left: 42px;
    width:300px; height:290px;
    overflow:hidden;
}
.strip .circle:after{
    content:'';
    position:absolute;
    left:96px; 
    top:42px;
    border-radius:40%;
    width:175px; 
    height:200px;
    box-shadow: 0px 0px 0px 2000px #ffffff;
}
.strip .circle1{
    background-image: none;
    border-radius: 35%;
    position:absolute;
    top: 45px;
    left: 42px;
    width:300px; height:290px;
    overflow:hidden;
    transform: translateZ(36px);
}
.strip .circle1:after{
    content:'';
    position:absolute;
    left:96px; 
    top:42px;
    border-radius:40%;
    width:175px; 
    height:200px;
    box-shadow: 0px 0px 0px 2000px #ffffff;
}

.strip .asa1{
    z-index: 2;
    background-image: none;
    background-color: #ffffff;
    height: 35px;
    width: 80px;
    left: 190px;
    top:28px;
    transform: rotateX(90deg) translateY(18px) rotateY(5deg);

}

.strip .asa2{
    z-index: 2;
    background-image: none;
    background-color: #ffffff;
    height: 35px;
    width: 50px;
    left: 265px;
    top:44px;
    transform: rotateX(90deg) translateY(18px) rotateY(31deg);
}

.strip .asa3{
    z-index: 2;
    background-image: none;
    background-color: #ffffff;
    height: 35px;
    width: 58px;
    left: 296px;
    top:83px;
    transform: rotateX(90deg) translateY(18px) rotateY(60deg);
}

.strip .asa4{
    z-index: 2;
    background-image: none;
    background-color: #ffffff;
    height: 35px;
    width: 130px;
    left: 274px;
    top:172px;
    transform: rotateX(90deg) translateY(18px) rotateY(90deg);
}

.strip .asa5{
    z-index: 2;
    background-image: none;
    background-color: #ffffff;
    height: 35px;
    width: 52px;
    left: 301px;
    top:260px;
    transform: rotateX(90deg) translateY(18px) rotateY(118deg);
}
.strip .top{
    z-index: -1;
    background-image: none;
    background-color:rgb(221, 221, 221);
    height: 395px;
    width: 395px;
    left: -170px;
    top:-190px;
    border-radius: 50%;
    transform: rotateX(90deg);

}